<html ng-app="demo">
    <head>
        {% for sheet in css %}
        <link rel="stylesheet" href="<%= sheet %>">
        {% endfor %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Why Hello</h1>
                </div>
            </div>
            <p>How are you?</p>
        </div>
        
        {% for script in js %}
        <script src="<%= script %>"></script>
        {% endfor %}
        <script>
            angular.module('demo', []);
        </script>
    </body>
</html>